## Aadhar Enrollment Data

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("api_data_aadhar_enrolment_0_500000.csv")
df2 = pd.read_csv("api_data_aadhar_enrolment_500000_1000000.csv")
df3 = pd.read_csv("api_data_aadhar_enrolment_1000000_1006029.csv")

In [3]:
df1["date"] = pd.to_datetime(df1["date"], format="%d-%m-%Y")
df2["date"] = pd.to_datetime(df2["date"], format="%d-%m-%Y")
df3["date"] = pd.to_datetime(df3["date"], format="%d-%m-%Y")

In [ ]:
df1.sort_values(by="date")

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-03-02,Meghalaya,East Khasi Hills,793121,11,61,37
32,2025-03-09,West Bengal,Dinajpur Uttar,733129,26,18,27
31,2025-03-09,Uttar Pradesh,Lucknow,226003,23,102,17
30,2025-03-09,West Bengal,Coochbehar,736135,19,12,19
29,2025-03-09,Bihar,Purbi Champaran,845304,18,72,12
...,...,...,...,...,...,...,...
494140,2025-10-26,Tamil Nadu,Dharmapuri,636813,2,1,0
494141,2025-10-26,Tamil Nadu,Dindigul,624101,2,0,0
494142,2025-10-26,Tamil Nadu,Dindigul,624201,1,0,0
494136,2025-10-26,Tamil Nadu,Dharmapuri,635111,1,1,0
499999,2025-10-26,Andhra Pradesh,N. T. R,521402,1,0,0

In [ ]:
df2.sort_values(by="date")

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-10-26,Andhra Pradesh,Nalgonda,508004,0,1,0
1539,2025-10-26,Uttar Pradesh,Ballia,277304,1,0,0
1540,2025-10-26,Uttar Pradesh,Ballia,277503,2,1,0
1541,2025-10-26,Uttar Pradesh,Ballia,277504,0,2,0
1542,2025-10-26,Uttar Pradesh,Balrampur,271205,2,7,0
...,...,...,...,...,...,...,...
492190,2025-12-31,Assam,Kokrajhar,783360,5,9,0
492191,2025-12-31,Assam,Kokrajhar,783369,0,1,0
492192,2025-12-31,Assam,Lakhimpur,787001,1,0,0
492194,2025-12-31,Assam,Lakhimpur,787052,0,8,0
499999,2025-12-31,Telangana,Hyderabad,500095,0,1,0

In [ ]:
df3.sort_values(by="date")

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,2025-12-31,Karnataka,Bidar,585330,2,3,0
4023,2025-12-31,Madhya Pradesh,Harda,461228,14,6,0
4022,2025-12-31,Madhya Pradesh,Gwalior,475115,4,8,0
4021,2025-12-31,Madhya Pradesh,Gwalior,475002,6,9,0
4020,2025-12-31,Madhya Pradesh,Gwalior,474011,2,5,0
...,...,...,...,...,...,...,...
2005,2025-12-31,Uttar Pradesh,Kushinagar,274401,16,19,1
2004,2025-12-31,Uttar Pradesh,Kushinagar,274301,6,23,0
2003,2025-12-31,Uttar Pradesh,Kushinagar,274207,2,5,0
2012,2025-12-31,Uttar Pradesh,Lalitpur,284402,6,6,0
6028,2025-12-31,West Bengal,West Midnapore,721517,2,1,0

### Conclusions:

- Enrollment update refers to enrollment of new citizens
- The dataset contains new enrollment records from 2nd March 2025 to 31st December 2025.
- The data records enrollments at state, district, and pincode level for each date.
- Enrollment data is of people of age group less than 5, from 5-17 and age group of 18+
- There are some 0 values in `age_0_5` `,age_5_17` and `age_18_greater` which indicate that no enrollment was performed for that particular age group on that date at that location.