## Aadhar Demographic

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("api_data_aadhar_demographic_0_500000.csv")
df2 = pd.read_csv("api_data_aadhar_demographic_500000_1000000.csv")
df3 = pd.read_csv("api_data_aadhar_demographic_1000000_1500000.csv")
df4 = pd.read_csv("api_data_aadhar_demographic_1500000_2000000.csv")
df5 = pd.read_csv("api_data_aadhar_demographic_2000000_2071700.csv")

In [3]:
df1["date"] = pd.to_datetime(df1["date"], format="%d-%m-%Y")

In [5]:
df1.sample(6)

,date,state,district,pincode,demo_age_5_17,demo_age_17_
16157,2025-09-03,Tripura,West Tripura,799105,3,10
354405,2025-11-29,Uttar Pradesh,Kheri,261505,7,100
212366,2025-11-10,Bihar,Bhagalpur,812003,3,4
177222,2025-11-02,Madhya Pradesh,Datia,475671,1,3
175829,2025-11-02,Uttarakhand,Uttarkashi,249196,2,2
99709,2025-10-15,Bihar,Gopalganj,841413,0,11

In [7]:
df1.sort_values(by="date")

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,2025-03-01,Uttar Pradesh,Gorakhpur,273213,49,529
415550,2025-03-01,Uttar Pradesh,Deoria,274703,60,773
415549,2025-03-01,Uttar Pradesh,Kaushambi,212217,225,2524
415548,2025-03-01,Assam,Lakhimpur,787053,13,286
415547,2025-03-01,Madhya Pradesh,Katni,483990,14,700
...,...,...,...,...,...,...
410968,2025-12-29,Karnataka,Bijapur,586103,1,2
410967,2025-12-29,Karnataka,Bijapur,586102,0,4
410966,2025-12-29,Karnataka,Bijapur,586101,0,14
410964,2025-12-29,Karnataka,Bidar,585412,1,6
409994,2025-12-29,Bihar,Bhojpur,802237,0,3

In [13]:
df2['date'] = pd.to_datetime(df2['date'], format="%d-%m-%Y")

In [14]:
df2.sort_values(by='date')

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,2025-03-01,Maharashtra,Satara,415517,0,2
415550,2025-03-01,Odisha,Bhadrak,755006,0,3
415549,2025-03-01,Odisha,Baudh,762030,0,4
415548,2025-03-01,Odisha,Bargarh,768048,0,6
415547,2025-03-01,Odisha,Bargarh,768045,0,9
...,...,...,...,...,...,...
410968,2025-12-29,Kerala,Thiruvananthapuram,695103,4,7
410967,2025-12-29,Kerala,Thiruvananthapuram,695101,0,7
410966,2025-12-29,Kerala,Thiruvananthapuram,695026,2,6
410964,2025-12-29,Kerala,Thiruvananthapuram,695014,0,4
409994,2025-12-29,West Bengal,North 24 Parganas,743165,0,14

In [15]:
df3['date'] = pd.to_datetime(df3['date'], format="%d-%m-%Y")

In [16]:
df3.sort_values(by='date')

,date,state,district,pincode,demo_age_5_17,demo_age_17_
241664,2025-03-01,Tamil Nadu,Vellore,631003,46,459
244125,2025-03-01,West Bengal,Paschim Medinipur,721424,31,610
244126,2025-03-01,Uttar Pradesh,Pratapgarh,230503,57,972
244127,2025-03-01,West Bengal,Purba Medinipur,721635,38,305
244128,2025-03-01,Chandigarh,Chandigarh,160020,14,159
...,...,...,...,...,...,...
240219,2025-12-29,Tamil Nadu,Kancheepuram,631552,2,1
240218,2025-12-29,Tamil Nadu,Kancheepuram,631501,1,22
240217,2025-12-29,Tamil Nadu,Kancheepuram,603405,1,2
240231,2025-12-29,Tamil Nadu,Kanniyakumari,629301,0,6
241662,2025-12-29,West Bengal,West Midnapore,721451,0,8

In [17]:
df3['date'] = pd.to_datetime(df3['date'], format="%d-%m-%Y")
df3.sort_values(by='date')

,date,state,district,pincode,demo_age_5_17,demo_age_17_
241664,2025-03-01,Tamil Nadu,Vellore,631003,46,459
244125,2025-03-01,West Bengal,Paschim Medinipur,721424,31,610
244126,2025-03-01,Uttar Pradesh,Pratapgarh,230503,57,972
244127,2025-03-01,West Bengal,Purba Medinipur,721635,38,305
244128,2025-03-01,Chandigarh,Chandigarh,160020,14,159
...,...,...,...,...,...,...
240219,2025-12-29,Tamil Nadu,Kancheepuram,631552,2,1
240218,2025-12-29,Tamil Nadu,Kancheepuram,631501,1,22
240217,2025-12-29,Tamil Nadu,Kancheepuram,603405,1,2
240231,2025-12-29,Tamil Nadu,Kanniyakumari,629301,0,6
241662,2025-12-29,West Bengal,West Midnapore,721451,0,8

### Conclusions:

- Demographic update refers to updation of Aadhaar details such as name, gender, date of birth, address, mobile number, etc.
- The dataset contains demographic update records from 1st March 2025 to 29th December 2025.
- The data records demographic updates at state, district, and pincode level for each date.
- There are some 0 values in `demo_age_5_17` and `demo_age_17_`, which indicate that no demographic updation was performed for that particular age group on that date at that location.